.mainDiv {
    background: linear-gradient(135deg, #3498db, #8e44ad);
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyDiv {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 420px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 26px;
}

form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 95%;
}

label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #555;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
    outline: none;
}

input:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 106%;

}

.password-container input {
    flex: 1;
    padding-right: 40px;

}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.toggle-password:hover {
    opacity: 1;
}

button {
    background-color: #3498db;
    color: white;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
}

button:hover {
    background: #2980b9;
}

p {
    font-size: 14px;
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
    color: #2980b9;
}
