{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ story.title }}</title>
    <link rel="stylesheet" href="{% static 'stories/story_detail.css' %}" />
  </head>
  <body>
    {% include 'tools/navbar.html' %}

    <div class="container">
      <div>
        {% if story.cover_image %}
        <div class="cover-image">
          <img
            style=""
            src="{{ story.cover_image.url }}"
            alt="{{ story.title }}"
          />
        </div>
        {% else %}
        <div
          style="
            position: relative;
            width: 100%;
            height: 0;
            padding-top: 30%;
            padding-bottom: 0;
            box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
            margin-top: 1.6em;
            margin-bottom: 0.9em;
            overflow: hidden;
            border-radius: 8px;
            will-change: transform;
          "
        >
          <iframe
            loading="lazy"
            style="
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              border: none;
              padding: 0;
              margin: 0;
            "
            src="https://www.canva.com/design/DAGe92yqRgw/CQE2vrpvIRsTqan6A7nlUg/view?embed"
            allowfullscreen="allowfullscreen"
            allow="fullscreen"
          ></iframe>
        </div>
        {% endif %}
      </div>
      <h1>{{ story.title }}</h1>
      <p>{{ story.content }}</p>
      <p class="author-info">
        <strong>Author:</strong> {{ story.author.username }}
      </p>
      <p class="date-info">
        <strong>Published on:</strong> {{ story.created_at }}
      </p>

      {% if request.user == story.author %}
      <div class="actions">
        <a href="{% url 'edit_story' pk=story.pk %}" class="btn">Edit</a>
        <a href="{% url 'delete_story' pk=story.pk %}" class="btn delete-btn"
          >Delete</a
        >
      </div>
      {% endif %}

      <div class="back-link">
        <a href="/">Back to Story List</a>
      </div>
    </div>
  </body>
</html>
